<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/lib/bootstrap.min.css">

    <title>Visual Network Project</title>
  </head>

  <body ng-app="visualNetx">
    <div class="container" ng-controller="netCtrl">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#genGraph">Graph Generator</a>
        </li>
        <li>
          <a data-toggle="tab" href="#impGraph">Import Graph</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="genGraph" class="tab-pane fade in active">
          <div style="margin-top:20px">
            <span us-spinner spinner-key="spinner-1"></span>
            <h4>A list of graph generation method is listed
              <a href="http://networkx.readthedocs.io/en/networkx-1.11/reference/generators.html" target="_blank">here</a>
            </h4>
            <h5>Sample Usage: circular_ladder_graph(10) </h5>
            <div class="row">
              <div class="col-md-8">
                <input id="txtUserAction" type="text" class="form-control input-normal" placeholder="put your method here" ng-model="action"/>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" id="btnSubmit">Generate Graph</button> <b id="error" style="color:red"></b>
              </div>
            </div>
            <svg width="960" height="600" id="svgGen"></svg>

            <div id="divExport" class="row" style="visibility:hidden">
              <div class="col-md-3">
                <select class="form-control" id="selectFmat">
                  <option value="adjlist">Ajacency List</option>
                  <option value="edgelist">Edge List</option>
                  <option value="gexf">GEXF (Graph Exchange XML Format)</option>
                  <option value="gml">GML</option>
                  <option value="gpickle">Pickle</option>
                  <option value="graphml">GraphML</option>
                  <option value="yaml">YAML</option>
                  <option value="pajek">Pajek</option>
                </select>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" id="btnExport">Export Graph</button>
                <button class="btn btn-success" id="btnSaveImg">Save Graph image</button>
              </div>
            </div>
          </div>
        </div>
        <div id="impGraph" class="tab-pane fade">
          <div style="margin-top:20px">
            <button class="btn btn-primary btn-sm" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            ngf-pattern="'.json,.adjlist,.edgelist,.gexf,.gml,.gpickle,.graphml,.yaml,.net'" ngf-max-height="1000" ngf-max-size="2MB">Select File</button>
            <div style="font:smaller">{{f.name}} <span id="uploadErr" style="color:red">{{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}</span>
                <div class="progress" ng-show="f.progress >= 0">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': f.progress + '%' }"></div>
                </div>
            </div>
          </div>
          <svg width="960" height="600" id="svgImp"></svg>
        </div>
      </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/lib/jquery-3.1.0.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <script src="../static/js/lib/angular.min.js"></script>
    <script src="../static/js/lib/d3.v4.min.js"></script>

    <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
    <script src="../static/js/lib/ng-file-upload-shim.min.js"></script>
    <script src="../static/js/lib/ng-file-upload.min.js"></script>

    <!-- app.js should be imported last-->
    <script src="../static/js/lib/spin.min.js"></script>
    <script src="../static/js/lib/angular-spinner.min.js"></script>
    <script src="../static/js/graph.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
